<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for UI.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (Any CPU)&quot; configuration in project &quot;C:\Users\Snahider\Desktop\codecampserver_4755c1386bff\src\UI\UI.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1600" Action="None" />
    <Rule Id="CA1601" Action="None" />
  </Rules>
</RuleSet>